body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
    margin-bottom: 50px;
    margin-top: 25px;
}
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 28px;
}
.jar{
    position: relative;
    width: 100px;
    height: 232px;
    border: 2px solid white;
    background-color: gray;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}
.ball{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; 
}  

.balls{
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
    justify-content: center;
}
.jar-label{
    position: absolute;
    bottom: 10px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    pointer-events: none;
}

@media screen and (min-width: 768px){
    h1{
        margin-top: 40px;
    }

    .container{
        margin-bottom: 70px;
    }
    .balls{
        gap: 20px;
    }
}